{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Historial</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Historial</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5><i class="feather icon-clock"></i> Búsquedas realizadas por el usuario: <span>
                                                {{ request.user.username }}    
                                            </span></h5>
                                        </div>
                                        <div class="card-block">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <h5><th>#</th></h5>
                                                        <h5><th>Palabras buscadas</th></h5>
                                                        <h5><th>Fecha de la búsqueda</th></h5>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for palabra in palabras %}
                                                        <tr onclick="location.href='/?searched={{ palabra.0 }}'">
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>{{ palabra.0 }}</td><!-- palabra -->
                                                            <td>{{ palabra.1 }}</td><!-- fecha -->
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
